APP_IMAGE_TAG=sha-initial

# Docker Compose host ports
APP_EXTERNAL_PORT=8082
GRPC_EXTERNAL_PORT=35051
POSTGRES_EXTERNAL_PORT=35432
GRAFANA_EXTERNAL_PORT=33000

# Database credentials
POSTGRES_USER=testuser
POSTGRES_PASSWORD=pass
POSTGRES_DB=testdb

# Local application database connection
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_MAX_CONNECTIONS=5
DATABASE_MIN_CONNECTIONS=1

# Local application web service
SERVICE_PORT=8080
SERVICE_HOST=0.0.0.0
GRPC_PORT=50051
NODE_AUTH_SECRET=secret123


# RUST_LOG format: crate1=level1,crate2=level2,...
# Controls log filtering per module:
# - info       → default log level for the app
# - sqlx=debug  → shows SQL statements and connection info
# - tower_http=info → middleware-level logs
# - axum::rejection=trace → logs full details for Axum rejections (like validation errors)
RUST_LOG=info,sqlx=debug,tower_http=info,axum::rejection=trace,opentelemetry=info

# jwt
# openssl rand -base64 32
JWT_SECRET_KEY=
HMAC_SECRET_KEY=
ARGON2_SECRET_KEY=

# -------------------------------------------------------
# OpenTelemetry OTLP Exporter
# -------------------------------------------------------

# Jaeger OTLP/HTTP Receiver
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318/v1/traces"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"

# Grafana credentials
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=change_me_grafana_password
GRAFANA_EXTERNAL_PORT=33000
